
<!-- jumbotron bootstrap class adds nice gray BG with rounded corners -->
<div class="jumbotron text-center">
   <div class="page-header">
       <h1>Welcome to <span class="sp_green">ON:trac</span><br><small>Self-improvement through beautiful data!</small></h1>
   </div>       
</div>    
        




